@import "variables";

@mixin fontFamHelVet {
    font-family: Arial, Helvetica, sans-serif;
}
@mixin fontFamComfortaa {
  font-family: 'Comfortaa', cursive;
}
@mixin fontFamLato {
  font-family: 'Lato', sans-serif;
}
