$red: rgb(255,0,0);
$blue: rgb(0,0,255);
$gradientOrangeRed:  linear-gradient( 135deg, #FDD819 10%, #E80505 100%);
$gradientYellow:  linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
$gradientSkyBlue:  linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
$gradientRed:  linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
$gradientGreen: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
